apiVersion: apps/v1
kind: Deployment
metadata:
  name: draganov-app
  labels:
     app: app

spec:
  replicas: 2
  selector:
    matchLabels:
      app: app

  template:
    metadata:
      labels:
        app: app
    spec:
      containers:
      - name: app
        image: draganov07/app
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
